<span class="st_googleplus_large" st_title="<%- title %>" st_url="<%- link %>" displayText="Google +"></span>
<span class="st_facebook_large" st_title="<%- title %>" st_url="<%- link %>" displayText="Facebook"></span>
<span class="st_twitter_large" st_title="<%- title %>" st_url="<%- link %>" displayText="Tweet"></span>
<span class="st_vkontakte_large" st_title="<%- title %>" st_url="<%- link %>" displayText="Vkontakte"></span>
<span class="st_email_large" st_title="<%- title %>" st_url="<%- link %>" displayText="Email"></span>